/* Typography */
body {
    font-family: var(--font-family-main);
    color: var(--color-gray);
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-dark);
    font-weight: 700;
    line-height: 1.2;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

.text-white { color: var(--color-white); }
.text-primary { color: var(--color-primary); }
